Dear prospective member,<br>
We are thrilled to inform you that you have been referred to the official website of CSEDU Alumni Association by <b>{{ referrer_first_name }} {{ referrer_last_name }}</b>.<br>
We invite you to join our vibrant community of learners and leaders on our website <a href="https://cseduaa.org">CSEDU Alumni Association</a>.<br>
As a member, not only will you have access to exclusive events, resources, and networking opportunities to enhance your academic and professional growth, but you will also have the chance to help others in their journey of growth and development.<br>
To get started, please use the referral code provided by your referrer: <strong>{{ referral_code }}</strong><br>
Please note that you must use this email address to sign up for the CSEDU Alumni Association website.<br>
Thank you for considering CSEDU Alumni Association as your preferred destination for personal and professional development. We look forward to welcoming you on board!<br>
Best regards,<br>
The CSEDU Alumni Association