Dear {{ first_name }} {{ last_name }},<br><br>
    Congratulations on successfully registering with the CSEDU Alumni Association!<br><br>
    We are excited to welcome you to our vibrant community of learners and leaders. As a member, you will soon have access to a wealth of resources, exclusive events, and networking opportunities designed to enhance your academic and professional growth.<br><br>
    Your registration is currently under review by our committee. Once your registration has been reviewed and approved, you will receive full access to all the features and benefits of the CSEDU Alumni Association.<br><br>
    Here's a brief overview of what you can look forward to as a member:
    <ul>
        <li>Subscribe to exclusive events with fellow alumni.</li>
        <li>Networking opportunities with fellow alumni and professionals.</li>
        <li>Opportunities to contribute and give back to the community.</li>
        <li>Engage in scholarly discussions and share insights with fellow alumni through our blog.</li>
    </ul>
    <a href="http://localhost:3000/payments">Membership Fee payment link</a>
    We appreciate your patience during the review process. In the meantime, you can get a basic view of the association on our website <a href="https://cseduaa.org">CSEDU Alumni Association</a>.<br><br>
    Thank you for choosing the CSEDU Alumni Association as your platform for personal and professional development. We look forward to your active participation and contribution.<br><br>
    Best regards,<br>
    The CSEDU Alumni Association